<div class = "container">
	<app-loading [isLoading] = "!product"></app-loading>

	<div class = "product" *ngIf = "product">

		<div class = "gallery">
			<app-gallery [images] = "getProductImages()"></app-gallery>
		</div>

		<div class = "details">
			<div class="title">{{product.title}}</div>
			<div *ngIf = "!product.remained" class = "remained">ناموجود</div>

			<p-rating [(ngModel)]="product.rate" [cancel]="false" [readonly]="!user" (onRate)="onRateHandler($event)"></p-rating>

			<div class="price">
				<span>قیمت: </span>
				<span [ngClass]="{'line-through': hasDiscount(), 'bold': !hasDiscount()}">{{product.realPrice | number}}</span>
				<span [ngClass]="{'bold': hasDiscount()}" *ngIf="hasDiscount()"> {{product.salePrice | number}}</span>
				<span> تومان</span>
			</div>

			<div>
				<p-button icon="pi pi-shopping-cart" pTooltip="افزودن به سبد خرید" (click)="addToCart()"></p-button>
			</div>
		</div>
	</div>
</div>
