
.product {
	display: flex;

	.gallery {
		width: 300px;
	}

	.details {
		padding: 3rem;

		.title {
			font-weight: bold;
		}

		.remained {
			color: #F00
		}

		.quantity-container{
			display: inline-block;
			margin: 0 5px;

			::ng-deep {
				#quantity {
					padding: 0.25rem;
					width: 50px;
				}

				.btn-quantity{
					padding: 0.25rem;
				}
			}
		}




	}

	.price {

	}
}

.comments{
	width: 300px;
	margin: 10px;

	> form {
		> div {
			margin: 10px 0;
		}
	}
}

